
:root {
    --primary-color: #490606;
    --secondary-color: #D10024;
    --font: #555555;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--font);
}
.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    /* display: grid; */
    align-content: center;
}
.title{

    font-size: large;
    font-weight: 100;
}
button {
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: var(--primary-color);
}

button:hover {
    background: var(--secondary-color);
}