<div class="products-slick" data-nav="#slick-nav-1">
  <!--  -------------------------- product ------------------- -->
  {% for product in products %}
  <div class="product">
    <div class="product-img">
      <img
        src="{{ url_for('static', filename='uploads/' ~ product[5]) }}"
        alt="Product Image"
        style="max-width: 200px"
      />

      <div class="product-label">
        <span class="new">{{product[6]}}</span>
      </div>
    </div>
    <div class="product-body">
      <p class="product-category">{{product[4]}}</p>
      <h3 class="product-name">
        <a href="#">{{product[1]}}</a>
      </h3>
      <h4 class="product-price">${{product[3]}}</h4>

      <div class="product-btns">
        <button class="add-to-wishlist">
          <i class="fa fa-heart-o"></i
          ><span class="tooltipp">add to wishlist</span>
        </button>
        <button class="add-to-compare">
          <i class="fa fa-exchange"></i
          ><span class="tooltipp">add to compare</span>
        </button>
        <button class="quick-view">
          <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
        </button>
      </div>
    </div>
    <div class="add-to-cart">
      <form method="post">
        <input type="hidden" name="cart-btn" name="cart" />
        <button class="add-to-cart-btn">
          <a
            href="{{ url_for('add_product', product_id=product.id ) }}"
            class="fa fa-shopping-cart"
            >add to cart</a
          >
        </button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
