<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>confirm purchase</title>
    <link rel="stylesheet" href="../static/css/confirm.css" />
  </head>
  <body>
    <div class="container">
      {% if valid %}
      <h1>Order Confirmed</h1>
      <p>Purchase confirmed at price ${{price}}.</p>
      {% else %}

      <h1>Invalid Order</h1>
      {% endif %}
      <div class="continue-button">
        <form method="post">
          <button type="submit">Continue shopping</button>
        </form>
      </div>
    </div>
  </body>
</html>
