<span style="font-family: verdana, geneva, sans-serif"
  ><!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Login Form | By Code Info</title>
      <link rel="stylesheet" href="../static/css/signUp.css" />
    </head>
    <body>
      <div class="container">
        <div class="login">
          <form>
            <h1>SignUp</h1>
            <hr />
            <p>Explore the World!</p>
            <label>Username</label>
            <input type="text" placeholder="enter your username" />
            <label>Password</label>
            <input type="password" placeholder="enter your password" />
            <label>Email</label>
            <input type="password" placeholder="enter your email" />
            <label>Contact</label>
            <input type="password" placeholder="enter your phone number" />

            <button>Submit</button>
          </form>
        </div>
        <div class="pic">
          <img
            src="../assets/ALEX VEDE on Instagram_ “I'm back from vacancy and….jpeg"
          />
        </div>
      </div>
    </body>
  </html>
</span>
