<span style="font-family: verdana, geneva, sans-serif"
  ><!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Login Form | By Code Info</title>
      <link rel="stylesheet" href="../static/css/signUp.css" />
    </head>
    <body>
      <div class="container">
        <div class="login">
          {% include 'includes/alert.html' %}
          <form method="POST" action="/register">
            <h1>SignUp</h1>
            <hr />

            <label>Username</label>
            <input
              type="text"
              placeholder="enter your username"
              name="username"
              required
            />
            <label>Password</label>
            <input
              type="password"
              placeholder="enter your password"
              name="password"
              required
            />
            <label>Email</label>
            <input type="email" placeholder="enter your email" name="email" />
            <label>Contact</label>
            <input
              type="text"
              placeholder="enter your phone number"
              name="phone"
              required
            />
            <button type="submit" name="Sign up">Sign up</button>
          </form>
          <p>
            <a href="{{ url_for('login') }}">Login</a>
          </p>
        </div>
        <div class="pic">
          <img src="../static/assets/login_photo.jpeg" />
        </div>
      </div>
    </body>
  </html>
</span>
