<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Profile | By Code Info</title>
    <link rel="stylesheet" href="../static/css/updateProfile.css" />
  </head>
  <body>
    <div class="container">
      <div class="signUp">
        <form
          action="{{ url_for('update_profile') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <h1>Update your profile</h1>

          <hr />
          <br />
          <br />
          <label>Username</label>
          <input
            type="text"
            name="username"
            placeholder="Enter your username"
            value="{{ data[1]}}"
            disabled
          />
          <label>Email</label>
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            value="{{ data[3] }}"
          />
          <label>Contact</label>
          <input
            type="text"
            name="contact"
            placeholder="Enter your phone number"
            value="{{ data[4] }}"
          />
          <br />
          <br />
          <hr />
          <input type="hidden" name="form_name" value="update_user_data" />
          <div class="submit">
            <button type="submit">Update Data</button>
          </div>
        </form>
      </div>

      <div class="pic">
        {% if data[5] %}
        <img
          src="{{ url_for('static', filename='uploads/' ~ data[5]) }}"
          alt="Profile Picture"
        />
        {% else %}
        <p>No profile picture uploaded.</p>
        {% endif %}

        <!-- Form to upload a new photo -->
        <form
          action="{{ url_for('update_profile') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="form_name" value="upload_photo" />
          <input type="file" id="profile_picture" name="profile_picture" />
          <div class="submit">
            <button type="submit" class="photo-button">Upload Photo</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
