<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Profile | By Code Info</title>
    <link rel="stylesheet" href="../static/css/updateProfile.css" />
  </head>
  <body>
    <div class="container">
      {% include 'includes/alert.html' %}
      <div class="header">
        <div class="pic">
          {% if data[5] %}
          <img
            src="{{ url_for('static', filename='uploads/' ~ data[5]) }}"
            alt="Profile Picture"
          />
          {% else %}
          <p>No profile picture uploaded.</p>
          {% endif %}
        </div>
        <h1>Update your profile</h1>
      </div>

      <div class="signUp">
        <form
          action="{{ submission_url }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            type="hidden"
            name="submission_url"
            value="{{ submission_url }}"
          />

          <hr />
          <label>Username</label>
          <input
            type="text"
            name="username"
            placeholder="Enter your username"
            value="{{ data[1]}}"
            disabled
          />
          <label>Email</label>
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            value="{{ data[3] }}"
          />
          <label>Contact</label>
          <input
            type="text"
            name="contact"
            placeholder="Enter your phone number"
            value="{{ data[4] }}"
          />

          <hr />
          <input type="hidden" name="form_name" value="update_user_data" />
          <div class="submit">
            <button type="submit">Update Data</button>
          </div>
        </form>

        <form
          class="change-img"
          action="{{ url_for('update_profile') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="insertion">
            <input
              class="hidden"
              type="hidden"
              name="form_name"
              value="upload_photo"
            />
            <label>
              <input
                class="file"
                type="file"
                id="profile_picture"
                name="profile_picture"
              />
              <span>Change Profile Picture</span>
            </label>
            <div class="submit">
              <button type="submit" class="photo-button">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
